<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA-og6fu5VnQX_Iva7QUeL_C9z0pR5zSLU</string>
	<key>GCM_SENDER_ID</key>
	<string>893562019101</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sprinkles</string>
	<key>PROJECT_ID</key>
	<string>sprinkles-qa</string>
	<key>STORAGE_BUCKET</key>
	<string>sprinkles-qa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:893562019101:ios:a8f2ad5ef6c989fcdd15f4</string>
</dict>
</plist>